<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

In [2]:
import numpy as np

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [4]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [5]:
duplicated = df[df.duplicated()]
duplicated_rows = duplicated.shape[0]
duplicated_rows

154

## Removing duplicates

In [9]:
df.shape

(11552, 85)

Remove the duplicate rows from the dataframe.

In [10]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [11]:
df.shape

(11398, 85)

In [12]:
df = df.reset_index()

## Finding Missing values

Find the missing values for all columns.

In [16]:
missing_data = df.isnull()
missing_data.head(5)

,index,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

index
False    11398
Name: index, dtype: int64

Respondent
False    11398
Name: Respondent, dtype: int64

MainBranch
False    11398
Name: MainBranch, dtype: int64

Hobbyist
False    11398
Name: Hobbyist, dtype: int64

OpenSourcer
False    11398
Name: OpenSourcer, dtype: int64

OpenSource
False    11317
True        81
Name: OpenSource, dtype: int64

Employment
False    11398
Name: Employment, dtype: int64

Country
False    11398
Name: Country, dtype: int64

Student
False    11347
True        51
Name: Student, dtype: int64

EdLevel
False    11286
True       112
Name: EdLevel, dtype: int64

UndergradMajor
False    10661
True       737
Name: UndergradMajor, dtype: int64

EduOther
False    11234
True       164
Name: EduOther, dtype: int64

OrgSize
False    11302
True        96
Name: OrgSize, dtype: int64

DevType
False    11333
True        65
Name: DevType, dtype: int64

YearsCode
False    11389
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11385
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11382
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11398
Name: CareerSat, dtype: int64

JobSat
False    11397
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    10905
True       493
Name: MgrIdiot, dtype: int64

MgrMoney
False    10901
True       497
Name: MgrMoney, dtype: int64

MgrWant
False    10905
True       493
Name: MgrWant, dtype: int64

JobSeek
False    11398
Name: JobSeek, dtype: int64

LastHireDate
False    11398
Name: LastHireDate, dtype: int64

LastInt
False    10985
True       413
Name: LastInt, dtype: int64

FizzBuzz
False    11361
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11395
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11359
True        39
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11398
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11398
Name: CurrencyDesc, dtype: int64

CompTotal
False    10589
True       809
Name: CompTotal, dtype: int64

CompFreq
False    11192
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11277
True       121
Name: WorkPlan, dtype: int64

WorkChallenge
False    11234
True       164
Name: WorkChallenge, dtype: int64

WorkRemote
False    11390
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11366
True        32
Name: WorkLoc, dtype: int64

ImpSyn
False    11393
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11397
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: CodeRevHrs, dtype: int64

UnitTests
False    11369
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11202
True       196
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11360
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11369
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11364
True        34
Name: OpSys, dtype: int64

Containers
False    11316
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8788
True     2610
Name: BlockchainIs, dtype: int64

BetterLife
False    11300
True        98
Name: BetterLife, dtype: int64

ITperson
False    11363
True        35
Name: ITperson, dtype: int64

OffOn
False    11360
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11105
True       293
Name: SocialMedia, dtype: int64

Extraversion
False    11378
True        20
Name: Extraversion, dtype: int64

ScreenName
False    10891
True       507
Name: ScreenName, dtype: int64

SOVisit1st
False    11073
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11393
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11397
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11395
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11348
True        50
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11397
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10270
True      1128
Name: SOPartFreq, dtype: int64

SOJobs
False    11392
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11393
True         5
Name: EntTeams, dtype: int64

SOComm
False    11398
Name: SOComm, dtype: int64

WelcomeChange
False    11313
True        85
Name: WelcomeChange, dtype: int64

SONewContent
False    9433
True     1965
Name: SONewContent, dtype: int64

Age
False    11111
True       287
Name: Age, dtype: int64

Gender
False    11325
True        73
Name: Gender, dtype: int64

Trans
False    11275
True       123
Name: Trans, dtype: int64

Sexuality
False    10856
True       542
Name: Sexuality, dtype: int64

Ethnicity
False    10723
True       675
Name: Ethnicity, dtype: int64

Dependents
False    11258
True       140
Name: Dependents, dtype: int64

SurveyLength
False    11379
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11384
True        14
Name: SurveyEase, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [18]:
missing_data['WorkLoc'].value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [22]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [23]:
#make a note of the majority value here, for future reference
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [24]:
# your code goes here
df["WorkLoc"].replace(np.nan, "Office", inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [25]:
df['WorkLoc'].isnull().value_counts()

False    11398
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

List out the various categories in the column 'CompFreq'

In [26]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
df['CompFreq']

In [ ]:
df['CompTotal']

In [ ]:
for i in range(df.shape[0]):
    if df['CompFreq'][i] == 'Yearly':
        df['NormalizedAnnualCompensation'][i] = df['CompTotal'][i]
    if df['CompFreq'][i] == 'Monthly':
        df['NormalizedAnnualCompensation'][i] = df['CompTotal'][i] * 12
    if df['CompFreq'][i] == 'Weekly':
        df['NormalizedAnnualCompensation'][i] = df['CompTotal'][i] * 52
    else:
        pass

==========

In [53]:
def normalize(freq, comp):
    result = 0
    if freq == 'Yearly':
        result = comp
    elif freq == 'Monthly':
        result = comp * 12
    elif freq == 'Weekly':
        result = comp * 52
    return result

In [54]:
freq = df['CompFreq'].tolist()
total = df['CompTotal'].tolist()

In [47]:
list = [] 
for i in range(df.shape[0]):
    list.append(normalize(freq[i],total[i]))
list

[61000.0,
 138000.0,
 90000.0,
 348000.0,
 90000.0,
 114000.0,
 36000.0,
 103000.0,
 69000.0,
 96000.0,
 84000.0,
 114000.0,
 104000.0,
 1144000.0,
 1152000.0,
 156000.0,
 18000.0,
 76800.0,
 60000.0,
 400000.0,
 47300.0,
 618000.0,
 345000.0,
 85000.0,
 107000.0,
 66000.0,
 76800.0,
 50000.0,
 800000.0,
 75000.0,
 216000.0,
 100000.0,
 1250000.0,
 30000.0,
 550000.0,
 nan,
 8400000.0,
 480000.0,
 108000.0,
 132000.0,
 1200000.0,
 50000.0,
 33000.0,
 110000.0,
 66750.0,
 300000.0,
 3525600.0,
 155000.0,
 300000.0,
 100000.0,
 0,
 70000.0,
 360000.0,
 90000.0,
 26000.0,
 31000.0,
 nan,
 288000.0,
 650000.0,
 60000.0,
 1272000.0,
 62000.0,
 48000.0,
 2107200.0,
 70000.0,
 540000.0,
 48000.0,
 642000.0,
 135000.0,
 48000.0,
 840000.0,
 960000.0,
 41232.0,
 50000.0,
 384000000.0,
 48000.0,
 7124000.0,
 68000.0,
 144000.0,
 nan,
 50000.0,
 70000.0,
 84000.0,
 13000000.0,
 35000.0,
 50000.0,
 480000.0,
 90000.0,
 90000.0,
 108000.0,
 48000.0,
 39000.0,
 44400.0,
 95000.0,
 450000.0,
 112800.0,
 117800.0,
 17400.0,
 180000.0,
 100000.0,
 48000.0,
 110000.0,
 nan,
 420000.0,
 233000.0,
 0,
 80000.0,
 120000.0,
 496800.0,
 2000000.0,
 86000.0,
 5880000.0,
 88000.0,
 50400.0,
 240000.0,
 45000.0,
 52000.0,
 180000.0,
 600000.0,
 180000.0,
 864000.0,
 3200000.0,
 nan,
 2196000.0,
 130000.0,
 288000.0,
 1560000.0,
 55000.0,
 0.0,
 nan,
 360000.0,
 540000.0,
 130000.0,
 115000.0,
 0.0,
 nan,
 63000.0,
 66000.0,
 nan,
 123000.0,
 140000.0,
 43200.0,
 360000.0,
 160000.0,
 84000.0,
 109200.0,
 nan,
 140000.0,
 105000.0,
 30000.0,
 19000.0,
 360000.0,
 48000.0,
 5280000.0,
 57000.0,
 3000000.0,
 312000.0,
 468000.0,
 55000.0,
 744000.0,
 41016.0,
 170000.0,
 48000.0,
 125000.0,
 151200.0,
 1884000.0,
 55000.0,
 100000.0,
 nan,
 36000.0,
 6750000.0,
 104000.0,
 23800.0,
 30000.0,
 140000.0,
 113000.0,
 1200000.0,
 165000.0,
 135000.0,
 67992.0,
 84000.0,
 30000.0,
 7200000.0,
 118000.0,
 110000.0,
 750000.0,
 46600.0,
 10800.0,
 154000.0,
 92000.0,
 104592.0,
 125000.0,
 768000.0,
 40000.0,
 75000.0,
 96000.0,
 nan,
 70000.0,
 34000.0,
 125000.0,
 312000.0,
 125000.0,
 80000.0,
 4420000.0,
 46000.0,
 26880.0,
 32400.0,
 540000000.0,
 51600.0,
 80000.0,
 3900000.0,
 118260.0,
 50000.0,
 85000.0,
 690000.0,
 1920000.0,
 124800.0,
 28000.0,
 300000.0,
 420000.0,
 37000.0,
 118000.0,
 140400.0,
 312000.0,
 124800.0,
 60000.0,
 97000.0,
 240000.0,
 193196.0,
 121000.0,
 58000.0,
 850000.0,
 1344000.0,
 54600.0,
 42000000.0,
 31200.0,
 110000.0,
 7280000.0,
 520000.0,
 110000.0,
 42120.0,
 53500.0,
 90000.0,
 720000.0,
 42000.0,
 15600.0,
 105000.0,
 nan,
 61000.0,
 180000.0,
 50000.0,
 74880.0,
 104000.0,
 65000.0,
 nan,
 56000.0,
 204000.0,
 100000.0,
 15600.0,
 nan,
 600000.0,
 60000.0,
 190000.0,
 70000.0,
 1820000.0,
 60000.0,
 nan,
 42600.0,
 1600000.0,
 420000.0,
 18000.0,
 135000.0,
 72500.0,
 11400.0,
 20000.0,
 36000.0,
 80000.0,
 600000000.0,
 600000.0,
 18000.0,
 125000.0,
 13200.0,
 nan,
 110000.0,
 32000.0,
 nan,
 nan,
 82000.0,
 147000.0,
 24000.0,
 1075000.0,
 40000.0,
 70000.0,
 720000.0,
 200000.0,
 1164000.0,
 25000.0,
 65000.0,
 26500.0,
 678000.0,
 90000.0,
 0,
 90000.0,
 nan,
 39600.0,
 97000.0,
 360000.0,
 125000.0,
 360000.0,
 128000.0,
 36000.0,
 750000.0,
 600000.0,
 43680.0,
 156000.0,
 87000.0,
 55000.0,
 47000.0,
 77000.0,
 78000.0,
 120000.0,
 275000.0,
 103000.0,
 122473.0,
 33600.0,
 68000.0,
 48000.0,
 21000.0,
 98400.0,
 160000.0,
 187200.0,
 720000.0,
 125000.0,
 121000.0,
 230000.0,
 10400.0,
 80000.0,
 0,
 43000.0,
 45760.0,
 540000.0,
 44000.0,
 21000.0,
 90000.0,
 30000000.0,
 37200.0,
 120000.0,
 230000.0,
 232000.0,
 0,
 104000.0,
 540000.0,
 nan,
 185000.0,
 14196000.0,
 155000.0,
 45000.0,
 67800.0,
 3536000.0,
 123500.0,
 14400.0,
 nan,
 48000.0,
 165000.0,
 45000.0,
 396000.0,
 nan,
 558000.0,
 66000.0,
 4680000.0,
 2160000.0,
 82000.0,
 nan,
 62000.0,
 360000.0,
 132000.0,
 2400000.0,
 80000.0,
 nan,
 72000.0,
 36000.0,
 nan,
 94000.0,
 95000.0,
 12000000.0,
 1100000.0,
 180000.0,
 84000.0,
 69800.0,
 86000.0,
 432000.0,
 1200000.0,
 90000.0,
 80000.0,
 81000.0,
 1200000.0,
 140000.0,
 35000.0,
 66000.0,
 55000.0,
 95000.0,
 360000.0,
 31200.0,
 18000.0,
 nan,
 1620000.0,
 84000.0,
 130000.0,
 720000.0,
 125000.0,
 600000.0,
 49000.0,
 624000.0,
 1000000.0,
 720000.0,
 0,
 90000.0,
 31200.0,
 960000.0,
 70000.0,
 2400000.0,
 31000.0,
 1800000.0,
 50400.0,
 70000.0,
 480000.0,
 480000.0,
 275000.0,
 129000.0,
 72000.0,
 24000.0,
 238000.0,
 408000.0,
 15000.0,
 120000.0,
 10000.0,
 14400.0,
 1800000.0,
 80000.0,
 49800.0,
 40800.0,
 155000.0,
 492000.0,
 33280.0,
 3960.0,
 103000.0,
 60000.0,
 nan,
 48000.0,
 nan,
 50400.0,
 94600.0,
 98000.0,
 90000.0,
 95000.0,
 46000.0,
 320000.0,
 5616000.0,
 105000.0,
 nan,
 180000.0,
 130000.0,
 960000.0,
 43000.0,
 50000.0,
 40000.0,
 48000.0,
 1152000.0,
 278304.0,
 38000.0,
 0,
 720000.0,
 81810.0,
 nan,
 30000.0,
 35000.0,
 19200000.0,
 636000.0,
 165000.0,
 15000.0,
 63700.0,
 230000.0,
 114000.0,
 nan,
 115000.0,
 110000.0,
 2500000.0,
 149500.0,
 6000000.0,
 40000.0,
 nan,
 130000.0,
 70000.0,
 960000.0,
 0,
 72000.0,
 780000000.0,
 72000000.0,
 107000.0,
 30000.0,
 60000.0,
 360000.0,
 57600.0,
 240000.0,
 116400.0,
 5980000.0,
 144000.0,
 58700.0,
 155000.0,
 5000.0,
 36000.0,
 732000.0,
 1000000.0,
 260000.0,
 67200.0,
 24000.0,
 50000.0,
 35000.0,
 74000.0,
 130000.0,
 16800000.0,
 55000.0,
 19200.0,
 60000.0,
 180000.0,
 60000.0,
 720000.0,
 38400.0,
 1250000.0,
 3600000.0,
 38000.0,
 56544.0,
 95000.0,
 3600000.0,
 21000.0,
 50000.0,
 1282500.0,
 72000.0,
 nan,
 120000.0,
 180000000.0,
 210000.0,
 190000.0,
 125000.0,
 390000000.0,
 120000.0,
 960000000.0,
 34800.0,
 38220.0,
 130000.0,
 0,
 1260000.0,
 115000.0,
 60000.0,
 128000.0,
 94000.0,
 1600000.0,
 120000.0,
 nan,
 12000.0,
 63000.0,
 500000.0,
 54000.0,
 101000.0,
 127741.0,
 600000.0,
 110000.0,
 38000.0,
 50400000.0,
 98000.0,
 408000.0,
 0,
 108000.0,
 nan,
 0,
 179000.0,
 135000.0,
 123000.0,
 177000.0,
 49000.0,
 30000.0,
 22200.0,
 41600000.0,
 42000.0,
 1735000.0,
 15600.0,
 32500.0,
 60000.0,
 90000.0,
 100000.0,
 67000.0,
 105000.0,
 nan,
 74000.0,
 105000.0,
 28896.0,
 55000.0,
 75000.0,
 nan,
 75000.0,
 19200.0,
 900000.0,
 540000.0,
 156000.0,
 105000.0,
 40000.0,
 27000.0,
 0,
 150000.0,
 80000.0,
 200000.0,
 32000.0,
 192000.0,
 90000.0,
 155000.0,
 1368000.0,
 60000.0,
 1920000.0,
 10800000.0,
 60000.0,
 36000.0,
 200000.0,
 900000.0,
 1350000.0,
 31200.0,
 56000.0,
 95000.0,
 75000.0,
 14400.0,
 520000.0,
 67200.0,
 564000.0,
 40000.0,
 22800.0,
 nan,
 101000.0,
 104000.0,
 nan,
 65000.0,
 360000.0,
 nan,
 70000.0,
 560000.0,
 90000.0,
 nan,
 105000.0,
 76000.0,
 588000.0,
 13200.0,
 112000.0,
 160000.0,
 45000.0,
 62500.0,
 150000.0,
 54000.0,
 2860000.0,
 3432000.0,
 nan,
 12000000.0,
 600000.0,
 864000.0,
 240000.0,
 1224000.0,
 nan,
 120000.0,
 8820.0,
 73000.0,
 55000.0,
 5400.0,
 720000000.0,
 110000.0,
 50000.0,
 95000.0,
 480000.0,
 240000.0,
 2160000.0,
 18000.0,
 6000000.0,
 85000.0,
 92000.0,
 1700000.0,
 200000.0,
 5096000.0,
 4000000.0,
 48000.0,
 720000.0,
 960000.0,
 nan,
 48000.0,
 120000.0,
 95000.0,
 104000.0,
 30000.0,
 48000.0,
 15600.0,
 96000.0,
 120000.0,
 nan,
 120000.0,
 14000.0,
 36000000.0,
 nan,
 156000.0,
 92000.0,
 0,
 660000.0,
 4.0,
 18000.0,
 0,
 20400.0,
 0,
 95000.0,
 37752.0,
 840000000.0,
 145000.0,
 2200000.0,
 63000.0,
 28800.0,
 35000.0,
 768000.0,
 75000.0,
 106000.0,
 60000.0,
 83000.0,
 1140000.0,
 32000.0,
 40000.0,
 72000.0,
 282000.0,
 480000.0,
 600000.0,
 1080000.0,
 32000.0,
 420000.0,
 37000.0,
 49200.0,
 41000.0,
 456000.0,
 nan,
 27000.0,
 2860000.0,
 146000.0,
 140000.0,
 300000.0,
 225000.0,
 32000.0,
 92000.0,
 400000.0,
 nan,
 520000.0,
 1400000.0,
 1080000.0,
 68000.0,
 35006.0,
 600000.0,
 78000.0,
 55000.0,
 220000.0,
 150000.0,
 66000.0,
 100000.0,
 120000.0,
 nan,
 90000.0,
 28000.0,
 0,
 0,
 nan,
 156000.0,
 300000.0,
 120000.0,
 15600.0,
 4200000.0,
 64000.0,
 840000.0,
 107500.0,
 12000.0,
 42000.0,
 41160.0,
 82800.0,
 67000.0,
 150000.0,
 92000.0,
 194400.0,
 1200000.0,
 2700000.0,
 10000.0,
 90000.0,
 600000.0,
 16800.0,
 82000.0,
 63000.0,
 42000.0,
 30000.0,
 17112.0,
 115000.0,
 88500.0,
 180000.0,
 2196000.0,
 51652.0,
 28000.0,
 720000.0,
 66000.0,
 nan,
 125000.0,
 125000.0,
 1560000.0,
 48000.0,
 875000.0,
 1500000.0,
 89000.0,
 140000.0,
 33000000.0,
 60000.0,
 66000.0,
 19200.0,
 46700.0,
 6760000.0,
 12500.0,
 26400.0,
 9600.0,
 230000000.0,
 28550.0,
 36400.0,
 120000.0,
 47300.0,
 150000.0,
 1800000.0,
 3000000.0,
 24000.0,
 40000.0,
 3000.0,
 192000.0,
 60000.0,
 85000.0,
 60000.0,
 19200.0,
 720000000.0,
 600000.0,
 0,
 22417.0,
 171600.0,
 45600.0,
 24000.0,
 9240000.0,
 nan,
 111350.0,
 82000.0,
 300000.0,
 450000.0,
 504000.0,
 783000.0,
 78000.0,
 360000.0,
 2064000.0,
 64200.0,
 60000.0,
 85000.0,
 55000.0,
 651192.0,
 nan,
 324000.0,
 155000.0,
 100000.0,
 0,
 55200.0,
 69000.0,
 1584000.0,
 42192.0,
 408000.0,
 65000.0,
 83000.0,
 140000.0,
 6500000.0,
 960000.0,
 300000.0,
 336000.0,
 22980.0,
 88000.0,
 61000.0,
 180000.0,
 1800000.0,
 149000.0,
 162929.0,
 18000.0,
 100000.0,
 481200.0,
 105000.0,
 480000.0,
 540000.0,
 33600.0,
 90000.0,
 50000.0,
 155000.0,
 216000.0,
 115000.0,
 22000.0,
 50000.0,
 43200.0,
 200000.0,
 100000.0,
 200000.0,
 532800.0,
 81000.0,
 16800.0,
 85000.0,
 560000.0,
 200000.0,
 4160000.0,
 1330000.0,
 70000.0,
 60000.0,
 160000.0,
 nan,
 1200000.0,
 202500.0,
 75000.0,
 360000.0,
 60000.0,
 135000.0,
 28800.0,
 135000.0,
 48000.0,
 28800.0,
 75000.0,
 78000.0,
 85000.0,
 16800000.0,
 4920000.0,
 130000.0,
 63000.0,
 96000.0,
 nan,
 46000.0,
 720000.0,
 825000.0,
 165000.0,
 160000.0,
 408000.0,
 75000.0,
 106000.0,
 100000.0,
 105000.0,
 222000.0,
 100000.0,
 450000.0,
 95000.0,
 21600.0,
 65000.0,
 20400.0,
 135000.0,
 160000.0,
 72000.0,
 82680000.0,
 89000.0,
 50000.0,
 125000.0,
 72000.0,
 36000.0,
 91500.0,
 85000.0,
 105000.0,
 155000.0,
 12540.0,
 nan,
 60000.0,
 24000.0,
 60000.0,
 25000.0,
 6000000.0,
 276000.0,
 60000.0,
 33000.0,
 9600.0,
 55000.0,
 39000.0,
 80000.0,
 2400000.0,
 100000.0,
 45000.0,
 71000.0,
 660000.0,
 0.0,
 124800.0,
 93000.0,
 12000.0,
 nan,
 93000.0,
 6760000.0,
 3744000.0,
 37700.0,
 188400.0,
 70000.0,
 192000.0,
 120000.0,
 107000.0,
 87000.0,
 96000.0,
 102000.0,
 50400.0,
 ...]

In [ ]:
df['NormalizedAnnualCompensation'] = list

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).